<?xml version="1.0" ?>
<config>
    <modules>
        <Ccc_Process>
            <version>0.0.1</version>
        </Ccc_Process>
    </modules>
    <admin>
        <routers>
            <process>
                <use>admin</use>
                <args>
                    <module>Ccc_Process</module>
                    <frontName>process</frontName>
                </args>
            </process>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <process>
                    <file>process.xml</file>
                </process>
            </updates>
        </layout> 
    </adminhtml>
    <global>
       <blocks>
           <process>
               <class>Ccc_Process_Block</class>
           </process>
       </blocks> 
        <models>
            <process>
                <class>Ccc_Process_Model</class>
                <resourceModel>process_resource</resourceModel>
            </process>
            <process_resource>
                <class>Ccc_Process_Model_Resource</class>
                <entities>
                    <process>
                        <table>process</table>
                    </process>
                    <process_type>
                        <table>process_type</table>
                    </process_type>
                    <process_group>
                        <table>process_group</table>
                    </process_group>
                    <process_type_column>
                        <table>process_type_column</table>
                    </process_type_column>
                    <process_log>
                        <table>process_log</table>
                    </process_log>
                    <process_log_idx>
                        <table>process_log_idx</table>
                    </process_log_idx>
                </entities>
            </process_resource>
        </models>
        <helpers>
            <process>
                <class>Ccc_Process_Helper</class>
            </process>
        </helpers>
        
       <resources>
           <process_setup>
               <setup>
                   <module>Ccc_Process</module>
               </setup>
           </process_setup>
       </resources>
    </global>
    
</config>